# Logs
*.log
npm-debug.log*
__pycache__/
*.pyc

# Dependency directories
node_modules/
frontend/node_modules/

# Build outputs
dist/
frontend/dist/
dist-ssr/

# IDE files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
